.header {
	padding: 9px 0;
	position: relative;
	height: 50px;
}

.header__hashtag {
	display: block;
	padding: 7px 14px;
	cursor: pointer;
	margin-right: 70px;

	transition: background-color .3s ease-in-out, color .3s ease-in-out;

	&:hover {
		background-color: $color-1;
		color: $color-3;
	}
}

