.pagination {
	position: absolute;
	z-index: 400;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	min-height: 144px;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	transform: translateY(calc(100% - 25px));
	transition: transform .5s ease-in-out;
}

.pagination_active {
	transform: translateY(0);
}

.pagination__arrow {
	padding: 0;
	display: block;
	margin: 0 auto 20px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 6px solid transparent;
	border-bottom: 6px solid #fff;
	background-color: transparent;
	transition: border-color .3s ease-in-out;

	&:hover {
		border-bottom-color: $color-4;
	}
}

.pagination_active .pagination__arrow {
	border-bottom: 6px solid transparent;
	border-top: 6px solid #fff;

	&:hover {
		border-top-color: $color-4;
		border-bottom-color: transparent;
	}
}

@media (max-width: 580px) {
	.pagination {
		min-height: 80px;
		top: 30%;
	}

	.pagination__arrow {
		margin-bottom: 6px;
	}
}