.slider-main {
	height: 100%;
	max-width: 1440px;
}

.slider-main__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider-main__video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

